.root {
    -fx-base: rgb(10, 10, 8);
    -fx-accent: rgb(36, 53, 206);
    -fx-focus-color: -fx-accent;

    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;

    -fx-light-text-color: rgb(220,220,220);
    -fx-mid-text-color: rgb(100,100,100);
    -fx-dark-text-color: rgb(20,20,20);
}
